.segment { fill: none; stroke-width: 4 }
.segment:hover { stroke-width: 8 }
.segment-hovered { stroke-width: 8 }
.timeline-segment { fill: blue; fill-opacity: 30%; stroke: blue }
.timeline-segment-rect { fill: transparent }
.timeline-segment-rect:hover { stroke-width: 2; stroke: black }
.timeline-segment-rect-hovered { stroke-width: 2; stroke: black }